@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author: David Quintana   
   Date: 09/29/2025
   
   Filename: tf_print.css

   This file contains the printer styles used with the Trusted
   Friends page on articles of interest
*/

@media print {

   /* Hidden Objects */
   nav.horizontal,
   aside,
   footer {
      display: none;
   }

   /* Page Box Styles */
   @page {
      size: 8.5in 11in;
      margin: 0.5in;
   }

   body,
   header,
   section {
      background: none !important;
      color: black;
   }

   /* Header Styles */
   body > header {
      text-align: right;
   }

   body > header > img {
      display: block;
      width: 100%;
   }

   /* Typography Styles */
   body {
      font-family: Georgia, "Times New Roman", serif;
      font-size: 12pt;
      line-height: 1.5;
   }

   h1 {
      font-size: 28pt;
      line-height: 30pt;
      margin: 0.3in 0in 0.2in;
      page-break-after: avoid;
   }

   h2 {
      font-size: 20pt;
      margin: 0.1in 0in 0.1in 0.3in;
      page-break-after: avoid;
   }

   p {
      font-size: 12pt;
      margin: 0.1in 0in 0.1in 0.3in;
      page-break-inside: avoid;
      orphans: 3;
      widows: 3;
   }

   /* List Styles */
   ul {
      list-style-type: disc;
      margin-left: 0.5in;
      page-break-inside: avoid;
   }

   ol {
      margin-left: 0.5in;
      page-break-inside: avoid;
   }

   li {
      margin-bottom: 6pt;
   }

   /* Image Styles */
   img {
      max-width: 100%;
      height: auto;
      page-break-inside: avoid;
   }

   article img {
      border: 2px solid rgb(191, 191, 191);
      display: block;
      margin: 0.25in auto;
      width: 65%;
   }

   /* Hypertext Styles */
   a {
      color: black;
      text-decoration: none;
   }

   a::after {
      content: " (" attr(href) ")";
      font-weight: bold;
      word-wrap: break-word;
   }

   /* Page Break Styles */
   article {
      margin-bottom: 30px;
   }

   article:nth-of-type(n+2) {
      page-break-before: always;
   }

   img,
   ol,
   ul {
      page-break-inside: avoid;
   }
}
