@charset "utf-8";

/*
    New Perspectives on HTML5 and CSS3, 8th Edition
    Tutorial 5
    Tutorial Case
    
    Author: David Quintana
    Date: 09/29/2025
    
    Filename: tf_styles1.css
*/

/* ===========
    Base Styles
    =========== */

html {
    background: url(tf_back1.png) center center / cover no-repeat fixed;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

body {
    background: rgb(134, 176, 232);    
    box-shadow: rgb(51, 51, 51) 5px 0px 15px,
                rgb(51, 51, 51) -5px 0px 15px;
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
}

body header {
    background: rgb(134,176,232);    
}

body header img {
    display: block;
    width: 100%;
}

nav.horizontal {
    background-color: rgb(117, 140, 72);
    min-height: 2em;
}

nav.horizontal li {
    color: rgb(31, 73, 125);
    display: block;
    line-height: 2em;
    text-transform: uppercase;
}

nav.horizontal a {
    display: block;
    font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
    color: rgb(31, 73, 125);
}

nav.horizontal a:hover, nav.horizontal a:active {
    background-color: rgb(31, 73, 125);
    color: white;
}

ul.mainmenu {
    display: block;
}

ul.mainmenu > li {
    text-indent: 15px;
}

ul.mainmenu > li:first-of-type a {
    color: white;
    background-color: rgb(31, 73, 125);
}

ul.submenu {
    width: 100%;
    background-color: rgb(181, 204, 136);
}

/* Section Styles */

section {
    background-color: rgb(207, 222, 172);
    clear: both;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

section img {
    display: block;
    width: 100%;
}

section p {
    line-height: 1.4em;
    padding: 10px;
    font-size: 1.2em;
}

/* Aside Styles */

aside {
    display: block;
    background-color: rgb(181, 204, 136);
}

/* Footer Styles */

body > footer {
    background-color: rgb(117, 140, 72);
    font-size: 0.9em;
    text-align: center;
    padding: 10px 0px;
}

/* ===========
   Pulldown Menu Styles
   =========== */

ul.submenu {
    display: none;
}

a.submenuTitle:hover + ul.submenu,
ul.submenu:hover {
    display: block;
}

/* ===========
   Responsive Styles
   =========== */

/* Mobile Styles: 0px to 480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    nav.horizontal ul.mainmenu,
    ul.submenu {
        padding: 0;
        margin: 0;
    }

    ul.mainmenu > li,
    ul.submenu > li {
        text-align: center;
        padding: 10px 0;
    }

    section img {
        margin-bottom: 10px;
    }

    article, aside {
        padding: 10px;
    }

    aside blockquote {
        font-size: 1em;
    }

    nav.horizontal a {
        font-size: 1.5em;
        line-height: 2.2em;
    }

    aside {
        display: none;
    }
}

/* Tablet Styles: 481px to 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 13px;
    }

    nav.horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    ul.mainmenu > li {
        flex: 1 1 auto;
        text-align: center;
        float: left;
        width: 20%;
        position: relative;
    }

    ul.submenu {
        width: 200%;
        position: absolute;
        box-shadow: rgb(51, 51, 51) 5px 5px 15px;
    }

    article, aside {
        padding: 15px;
    }
}

/* Desktop Styles: 769px and greater */
@media only screen and (min-width: 769px) {
    nav.horizontal {
        display: flex;
        justify-content: space-between;
    }

    nav.horizontal::after {
        clear: both;
        content: "";
        display: table;
    }

    nav.horizontal a.submenuTitle {
        display: none;
    }

    ul.mainmenu {
        display: flex;
        gap: 10px;
    }

    ul.mainmenu > li {
        text-indent: 0;
    }

    ul.submenu {
        background: transparent;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
    }

    section {
        clear: both;
    }

    article {
        float: left;
        margin-right: 5%;
        width: 55%;
        padding: 20px;
    }

    aside {
        float: left;
        width: 40%;
        padding: 20px;
    }
}
