@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Tutorial Case

   Tables Style Sheet
   Author: David Quintana
   Date: 10/06/2025

   Filename:         dlr_tables.css
*/

/* Table Styles */
table.schedule {
   background: white;
   border: 10px outset rgb(153, 0, 153);
   font-size: 0.75em;
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
}

/* Table Cell Styles */
table.schedule th,
table.schedule td {
   border: 1px solid gray;
   word-wrap: break-word;
   padding: 5px;
   vertical-align: top;
}

/* Table Caption Styles */
table.schedule caption {
   caption-side: bottom;
   text-align: right;
}

/* Row Group Styles */
table.schedule thead tr {
   height: 30px;
}

table.schedule tbody tr {
   height: 40px;
}

table.schedule tfoot {
   background: black;
   color: white;
}

/* Column Group Styles */
col#firstCol {
   background: rgb(218, 210, 218);
   width: 16%;
}

col.dayCols {
   background: rgb(255, 220, 255);
   width: 12%;
}
