@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Review Assignment
   
   Author: David Quintana
   Date: 09/30/2025
   
   Filename: tf_print2.css

   This file contains the printer styles used with the Trusted
   Friends Parents Tips page

*/


/* Hidden Objects */

/* Step 19 */
nav,
body > header h1,
section#left,
body > footer {
   display: none;
}


/* Page Box Styles */

/* Step 20 */
@page {
   size: 8.5in 11in;
   margin: 0.5in;
}


/* Header Styles */

/* Step 21 */
body > header img {
   display: block;
   width: 100%;
}


/* Typography Styles */

/* Step 22 */
article header h1,
article header h2,
article header h3,
article header h4,
article header h5,
article header h6 {
   margin-bottom: 0.2in;
}

article h1 {
   font-size: 24pt;
   line-height: 26pt;
}

aside {
   background-color: rgb(211, 211, 211);
   margin-top: 0.3in;
}

aside h1 {
   font-size: 18pt;
   line-height: 20pt;
}

aside img {
   width: 0.8in;
}

p {
   font-size: 12pt;
   margin: 0.1in 0;
}


/* Hypertext Styles */

/* Step 23 */
a {
   color: black;
   text-decoration: none;
}

a:after {
   content: " [" attr(href) "]";
   font-weight: bold;
   word-wrap: break-word;
}


/* Page Break Styles */

/* Step 24 */
aside {
   page-break-after: always;
}

ol, ul, img {
   page-break-inside: avoid;
}

p {
   widows: 3;
   orphans: 3;
}