@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Review Assignment
   
   Author: David Quintana  
   Date: 09/30/2025
      
   Filename: tf_styles4.css

   This file contains the screen styles used with the Trusted
   Friends blog tips

*/


/* Import Basic Design Styles Used on All Screens */

@import url("tf_designs.css");


/* General Flex Styles */

/* Step 7 */
body {
   display: flex;
   flex-flow: row wrap;
}

/* Step 8 */
section#left {
   flex-grow: 1;
   flex-shrink: 8;
   flex-basis: 130px;
}

/* Step 9 */
section#right {
   flex-grow: 8;
   flex-shrink: 1;
   flex-basis: 351px;
}

/* Step 10 */
section.tips {
   display: flex;
   flex-flow: row wrap;
}

/* Step 11 */
article {
   flex-grow: 2;
   flex-shrink: 1;
   flex-basis: 351px;
}

/* Step 12 */
aside {
   flex-grow: 1;
   flex-shrink: 2;
   flex-basis: 250px;
}

/* Step 13 */
nav.horizontal ul {
   display: flex;
   flex-flow: column wrap;
}


/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
	
/* Step 14 */
@media screen and (max-width: 480px) {
   /* Step 15 */
   nav.vertical ul {
      display: flex;
      flex-flow: column wrap;
      height: 240px;
   }
   
   section#left {
      order: 99;
   }
   
   body > footer {
      order: 100;
   }
   
   /* Step 16 */
   a#navicon {
      display: block;
   }
   
   nav.horizontal ul {
      display: none;
   }
   
   a#navicon:hover+ul, nav.horizontal ul:hover {
      display: block;
   }
}


/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

/* Step 17 */
@media screen and (min-width: 481px) {
   nav.horizontal ul {
      height: 160px;
   }
}