@charset "utf-8";

/*
    New Perspectives on HTML5 and CSS3, 8th Edition
    Tutorial 5
    Case Problem 2
    
    Author: David Quintana    
    Date: September 30, 2025        
    
    Filename: cw_styles.css

    This file contains the screen styles used with the
    Cauli-Wood Gallery home page

*/


/* Import Basic Design Styles  */
@import url("cw_designs.css");

/* ===============================
	General Styles for All Devices
    ===============================
*/

/* Bottom Navigation (Instructions 4 & 5) */
nav#bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

nav#bottom ul {
    flex: 0 1 150px;
}


/* ===============================
	Mobile Styles up to 480 pixels
    ===============================
*/
@media only screen and (max-width: 480px) {

    /* Body Color for Mobile (Instruction 6) */
    body {
        color: rgb(211, 211, 211);
        background-color: rgb(51, 51, 51);
    }

    /* Hide Elements for Mobile (Instruction 7) */
    aside, #spotlight, article img {
        display: none;
    }

    /* Top Navigation (Instruction 8) */
    nav#top ul {
        display: flex;
        flex-flow: row wrap;
    }

    nav#top ul li {
        font-size: 2.2em;
        flex: 1 1 130px;
    }

    /* Top Navigation Background Images (Instructions 9 & 10) */
    nav#top ul li:nth-of-type(1) {
        background: url(cw_image01.png) center center / contain no-repeat;
    }
    
    nav#top ul li:nth-of-type(2) {
        background: url(cw_image02.png) center center / contain no-repeat;
    }
    
    nav#top ul li:nth-of-type(3) {
        background: url(cw_image03.png) center center / contain no-repeat;
    }
    
    nav#top ul li:nth-of-type(4) {
        background: url(cw_image04.png) center center / contain no-repeat;
    }
    
    nav#top ul li:nth-of-type(5) {
        background: url(cw_image05.png) center center / contain no-repeat;
    }
    
    nav#top ul li:nth-of-type(6) {
        background: url(cw_image06.png) center center / contain no-repeat;
    }
    
    /* Links Paragraph Layout (Instruction 11) */
    p#links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    /* Links Styling (Instruction 12) */
    p#links a {
        display: block; /* To apply padding and background properly */
        color: white;
        background-color: rgb(220, 27, 27);
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
    }
}


/* ============================================
	Tablet and Desktop Devices: 481px or more 
    ============================================
*/
@media only screen and (min-width: 481px) {

    /* Body Layout (Instruction 13) */
    body {
        display: flex;
        flex-flow: row wrap;
    }

    /* Article and Aside Flex (Instruction 14) */
    article {
        flex: 2 1 400px;
    }

    aside {
        flex: 1 2 200px;
    }

    /* Top Navigation Layout (Instruction 15) */
    nav#top ul {
        display: flex;
        flex-flow: row nowrap;
        background-color: rgb(51, 51, 51);
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    
    /* Top Navigation List Items (Instruction 16) */
    nav#top ul li {
        flex: 0 1 80px;
    }

    /* Hide Links Paragraph (Instruction 17) */
    p#links {
        display: none;
    }
}