/*
    New Perspectives on HTML5 and CSS3, 8th Edition
    Tutorial 7
    Review Assignment

    Customer Information Validation Style Sheet
    Author: David Quintana
    Date: 10/19/2025

    Filename: rb_validate.css

*/


/* Validation Styles */
/* Step 12a: Focus Style */
input:focus, select:focus, textarea:focus {
   background-color: rgb(255, 255, 180);
}

/* Step 12b: Valid Data Style */
#nameBox:focus:valid, #phoneBox:focus:valid {
   background-color: rgb(220, 255, 220);
   background-image: url(rb_okay.png);
   background-position: right center;
   background-repeat: no-repeat;
}

/* Step 12c: Invalid Data Style */
#nameBox:focus:invalid, #phoneBox:focus:invalid {
   background-color: rgb(255, 230, 230);
   background-image: url(rb_warning.png);
   background-position: right center;
   background-repeat: no-repeat;
}