@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Review Assignment
   Design Style Sheet for Tree and Book Family Home Page
   Author: David Quintana
   Date: September 25, 2025
   Filename: tb_visual3.css
*/

/* HTML Styles */

html {
  background-image: url('tb_back5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page Body Styles */

body {
  border-left: 3px solid rgb(169, 130, 88);
  border-right: 3px solid rgb(169, 130, 88);
  /* heavy blurred shadows to the sides to give the page depth */
  box-shadow: 25px 0 35px rgb(53, 21, 0), -25px 0 35px rgb(53, 21, 0);
  margin: 0 auto;
  width: 960px; /* keep consistent with layout styles */
}

/* Main Styles */

main {
  background-image: url('tb_back7.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  box-shadow: inset -10px -10px 25px rgb(71,71,71), inset 10px 10px 25px rgb(71,71,71);
  padding: 20px;
}

/* h1 heading within main header */
main > header > h1 {
  text-align: center;
  text-shadow: 1px 0 0 rgb(221,221,221), 5px 5px 20px rgba(41,41,41,0.9);
  font-family: "Champagne", cursive;
  font-size: 3.5em;
  color: rgb(72,45,0);
}

/* Figure Box Styles */

figure {
  margin: 10px auto;
  width: 70%;
}

figure img {
  border-width: 25px;
  border-style: solid;
  /* use border-image with a 60px slice stretched across sides */
  border-image-source: url('tb_frame.png');
  border-image-slice: 60;
  border-image-repeat: stretch;
  display: block;
  width: 100%;
  /* sepia tone with webkit prefix */
  -webkit-filter: sepia(0.8);
  filter: sepia(0.8);
  box-sizing: border-box;
}

figure figcaption {
  font-family: 'Palatino Linotype', Palatino, 'Times New Roman', serif;
  font-style: italic;
  padding: 10px 0;
  text-align: center;
}

/* Article Styles */

article {
  background-image: url('tb_back6.png');
  background-position: bottom right;
  background-size: 15%;
  background-repeat: no-repeat;
  border-right: 8px double rgb(147,116,68);
  border-bottom: 8px double rgb(147,116,68);
  border-bottom-right-radius: 80px;
  box-shadow: inset -10px -10px 25px rgba(184,154,112,0.7);
  padding: 20px;
}

/* Footer Styles */

footer {
  /* Gradient angle assumption: 135deg (diagonal). Change if you have a specific angle. */
  background: linear-gradient(135deg, rgb(180,148,104) 20%, rgb(40,33,23) 60%);
  color: white;
  padding: 25px;
  text-align: center;
}
