/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: David Quintana
   Date: 10/08/2025

   Filename:         mi_tables.css
*/

/* Table Styles */
table {
  width: 760px;
  max-width: 92vw;
  background-image: linear-gradient(to bottom, rgb(190,215,255), black);
  border: 5px solid gray;
  border-collapse: collapse;
  margin: 28px auto;
  box-sizing: border-box;
}

th, td {
  border: 3px solid gray;
  line-height: 1.4em;
  padding: 8px;
}

/* Header Cells */
th {
  background-color: black;
  color: rgb(130,210,255);
  font-weight: normal;
}

/* Data Cells */
td {
  color: white;
  font-size: 0.9em;
  vertical-align: top;
  text-align: center;
}

/* Column Styles */
col#firstCol { width: 24%; }
col.dataCols { width: 19%; }

/* Table Header Styles */
thead tr { height: 60px; }

thead tr:first-of-type th:first-of-type {
  font-size: 2em;
}

thead tr:first-of-type th:not(:first-of-type) {
  background-color: transparent;
  color: black;
  border-bottom: none;
}

thead tr:nth-of-type(2) th {
  background-color: black;
  color: rgb(130,210,255);
  border-top: none;
}

/* Body row headers */
tbody th {
  text-align: left;
}

/* Footer */
tfoot th, tfoot td {
  background-color: black;
  color: rgb(130,210,255);
  text-align: left;
  vertical-align: top;
  font-size: 1em;
}

tfoot td {
  color: #fff;
  background-color: #222;
  border-top: 3px solid gray;
}
