@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Case Problem 2
   
   Design Styles for the Chupacabra Music Fest
   Author: David Quintana
   Date: September 24, 2025
   
   Filename: cf_effects.css
*/

/* HTML Styles */
html {
  background-image: url("cf_back1.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Body Styles */
body {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Body Header Styles */
header {
  background-color: rgba(51, 51, 51, 0.5);
}

/* Aside Styles */
section aside {
  border: 10px double rgba(92, 42, 8, 0.3);
  border-radius: 30px;
}

section aside h1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* 3D perspective for side sections */
#left,
#right {
  perspective: 450px;
}

#left aside {
  transform: rotateY(25deg);
}

#right aside {
  transform: rotateY(-25deg);
}

/* Cube Styles */
#cube {
  position: relative;
  margin: 180px auto 150px auto;
  width: 400px;
  height: 400px;
  perspective: 450px;
  transform-style: preserve-3d;
  perspective-origin: center;
}

.cube_face {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.cube_face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Position each cube face */
#cube_front {
  transform: translateZ(-50px);
}

#cube_left {
  transform: translateX(-200px) rotateY(90deg);
}

#cube_right {
  transform: translateX(200px) rotateY(-90deg);
}

#cube_top {
  transform: translateY(-200px) rotateX(-90deg);
}

#cube_bottom {
  transform: translateY(200px) rotateX(90deg);
}
